@import url('https://fonts.googleapis.com/css?family=Sniglet: 400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Source+Code+Pro:wght@300&display=swap');

html {
  background-color: #D8BFD8;
  color: #5D0044;
}

h1 {
  font-family: Sniglet, Helvetica, sans-serif;
  font-size: 32px;
}

p {
  font-family: Cabin, Cambria, serif;
  font-size: 20px;
}

.styling {
  font-family: Cabin, Cambria, serif;
  border-collapse: separate;
  width: 66%;
  margin-right: auto;
  margin-left: auto;
}

th {
  background-color: #5D0044;
  color: #F2EBFD;
  font-size: 28px;
  font-family: Sniglet, Helvetica, sans-serif;
}

td {
  color: #5D0044;
  font-size: 20px;
}

th:first-child { border-top-left-radius: 10px !important;}
th:last-child { border-top-right-radius: 10px !important;}

tr:last-child td:last-child { border-bottom-right-radius: 10px !important;}
tr:last-child td:first-child { border-bottom-left-radius: 10px !important;}

td, th { border-style: solid; }

span {  
  font-family: 'Source Code Pro';
  font-weight: 700;
  background-color: #00A283;
  color: #F2EBFD;
}
  
.styling td, .styling th {
  
  padding: 8px;
}
  
.styling tr:nth-child(even){background-color: #F2EBFD;}
  
.styling tr:hover {background-color: #D65DB1;}
.styling th { pointer-events: none;}